html, body { margin: 0 }
.copy, nav { font: large "Plantin" }
h1, h2, h3, h4, h5, h6 { font-family: "Wigrum" }
h1 { margin: 0 }
main {
  display: flex;
  flex-flow: column nowrap }
  main > :not(article) {
    position: fixed;
    color: #fff }
  nav { background: #000 }
  header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    z-index: 1 }
    .logo {
      position: relative;
      width: 13.3333rem;
      height: 8rem }
      .filter {
        background: linear-gradient(135deg, #008080bc 0%, #3d7d00bc 100%);
        position: absolute;
        top: 0;
        mix-blend-mode: hard-light }
      .logo > * {
        width: 100%;
        height: 100% }
    .name {
      margin: 0 2rem;
      cursor: pointer;
      font-weight: bold;
      color: #ff4136;
      background: #000a }
  nav {
    right: 5vw;
    top: 1rem }
    nav > * {
      display: inline-block;
      line-height: 3rem;
      padding: 0 1rem;
      cursor: pointer;
      transition: background .3s ease-in-out }
    nav > :hover { background: #008080 }
  article {
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    clip-path: inset(0 0 0 0);
    position: relative }
  article:first-of-type, article:last-of-type {
    background: #000;
    color: #fff }
  article:not(:last-of-type)::before {
    background: linear-gradient(180deg, #fff0 0, #ffff 75%, #ffff);
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1}
  article:nth-of-type(2)::after { z-index: 1 }
  article:nth-last-of-type(2)::before { z-index: 2 }
  article:not(:first-of-type)::after {
    background: linear-gradient(0deg, #fff0 0, #ffff 75%, #ffff);
    content: "";
    position: absolute;
    top: 0;
    width: 100% }
  article:first-of-type::before {
    background: linear-gradient(180deg, #0000 0, #000f 75%, #000f);
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1 }
  article:last-of-type::after {
    background: linear-gradient(0deg, #0000 0, #000f 75%, #000f);
    content: "";
    position: absolute;
    top: 0;
    width: 100% }
  article > * {
    position: fixed;
    top: 50%;
    transform: translateY(-50%) }
  article > span {
    left: calc(55vw - 40rem);
    font: bold 2rem "Wigrum";
    color: #ff4136;
    z-index: 1;
    top: calc(50% - 2.45rem) }
  .lead {
    width: 24rem;
    background: #0008 }
    .lead > h1 { font-size: 4rem }
    .lead-visual {
      width: 100vw;
      height: 100vh }
    .tagline {
      left: calc(55vw - 40rem);
      width: 29rem }
      h1 {
        font-size: 2rem;
        font-weight: normal }
        article h1 > span {
          color: #fff0;
          font-weight: bold }
        article:last-of-type h1 > span { color: #ff4136 }
        article:last-child > span { display: none }
    .rule {
      position: relative;
      left: 55vw;
      height: 100vh;
      z-index: 2 }
    .copy {
      left: calc(60vw + 2rem);
      width: calc(35vw - 2rem) }
      .hidden {
        color: #ffa09b;
        cursor: pointer }
@media (max-width: 78rem) {
  .tagline, article > span { left: 3rem }
  .lead.tagline {
    transform: none;
    bottom: 5rem;
    top: auto;
    left: 3rem;
    z-index: 2 } }
@media (min-height: 43rem) and (max-width: 62rem), (max-height: 43rem) and (max-width: 53rem) {
  article:last-of-type h1 > span { color: #fff0 }
  article:nth-last-of-type(2)::before { z-index: 1 }
  .tagline, article > span {
    transform: none;
    top: 10rem;
    left: calc(5vh + 4rem);
    display: block !important }
  .copy {
    left: calc(5vh + 4rem);
    width: calc(100vw - 5vh - 6rem);
    transform: none;
    top: 20rem }
  .rule { left: 2rem } }
@media (max-height: 43rem) and (min-width: 53rem) and (max-width: 78rem) {
  h2 {
    font-size: medium;
    margin-bottom: -.5rem }
  .copy { font-size: x-small } }
@media (max-width: 47rem) {
  nav {
    top: 5rem;
    left: 0;
    padding: 1rem;
    margin-top: -1rem;
    width: 100vw;
    transition: opacity .5s ease-in-out }
  .tagline, article > span { top: 12rem } }
@media (max-height: 43rem) and (min-width: 47rem) and (max-width: 53rem) {
  article::before, article::after { height: 7rem !important }
  .tagline, article > span { top: 6.5rem !important }
  .copy { top: 11rem !important } }
@media (min-width: 35rem), (max-height: 43rem) and (min-width: 53rem) {
  article::before, article::after { height: 12rem } }
@media (max-width: 35rem), (max-height: 43rem) and (max-width: 53rem) {
  header {
    height: 3rem;
    padding: 1rem;
    width: calc(100vw - 2rem);
    background: #000 }
    .logo {
      width: 5rem;
      height: 3rem;
      min-width: 5rem;
      min-height: 3rem }
    .name { font-size: 1.2rem }
  nav {
    z-index: 1;
    padding: 1rem 0 0 1rem }
    nav > * {
      font-size: small;
      padding: 0 .5rem;
      line-height: 2rem }
  article::before, article::after { height: 8rem }
  .lead.tagline {
    left: 2rem;
    bottom: 2rem;
    width: 12rem }
  .lead > h1 { font-size: 2rem }
  article > span {
    font-size: large;
    top: 8.5rem;
    left: calc(5vh + 1rem) }
  .tagline {
    top: 8.5rem;
    left: calc(5vh + 1rem) }
    h1 { font-size: large }
  .rule { left: .5rem }
  .copy {
    top: 13rem;
    left: calc(5vh + 1rem);
    width: calc(100vw - 5vh - 3rem);
    font-size: x-small }
    h2 {
      font-size: medium;
      margin-bottom: -.5rem } }
@media (max-height: 33rem) and (min-width: 35rem) {
  .lead.tagline {
    left: 2rem;
    bottom: 2rem;
    width: 12rem }
  .lead > h1 { font-size: 2rem } }
@media (max-height: 43rem) and (min-width: 35rem) {}
